.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 0 20px;
  }
  
  .welcome-message {
    font-size: 2.5rem;
    color: rgb(15, 190, 53);
    margin-bottom: 50px;
  }
  
  .options-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    flex-direction: column;
    gap: 20px;
  }
  
  .option-button {
    background-color: #632507
  }